root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = True
insert_final_newline = True

[*.xml]
indent_size = 2

[*.{js,ts,jsx,tsx,json,yml,yaml,css,scss}]
indent_size = 2

[*.md]
trim_trailing_whitespace = False
